section.channel-hot
  .channel-hot--header
    h2.channel-hot--header-title 本周最火
  ul.list
    each item,index in data.hot.data
      if index < max.item
        li.book
          a(href='localhost:5000/book?id=1').book--cover
            img(src='#{item.cover}')
            p.book--cover-finish
          .book--info
            p.book-title #{item.title}
            p.book-author #{item.authors}
            - item.summary = item.summary.split(/\s*\.*\s*$/).join('')
            p.book-summary #{item.summary}
            .book--tap
              each tag,index in item.tags
                //- 控制显示标签个数
                if index < max.tag
                  .book--tap-item #{tag}

